VITE_SUBGRAPH_URL_MAINNET= # mainnet subgraph query URL, for example https://api.goldsky.com/api/public/<PROJECT_ID>/subgraphs/pdp-explorer-mainnet/<VERSION_OR_TAG>/gn
VITE_SUBGRAPH_URL_CALIBRATION= # calibration subgraph query URL, for example https://api.goldsky.com/api/public/<PROJECT_ID>/subgraphs/pdp-explorer-calibration/<VERSION_OR_TAG>/gn
VITE_MAINNET_PDP_VERIFIER= # mainnet pdp verifier contract address (optional)
VITE_MAINNET_PDP_SERVICE= # mainnet pdp simple service contract address (optional)
VITE_CALIBRATION_PDP_VERIFIER= # calibration pdp verifier contract address (optional)
VITE_CALIBRATION_PDP_SERVICE= # calibration pdp simple service contract address (optional)
